# 服务基础配置
APP_NAME=FastAPI基础脚手架
APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000
APP_VERSION=0.1.0

# jwt
SECRET_KEY=aB3dEf9GHiJkLmNoPqRsTuVwXyZ1234

# 数据库配置
DB_HOST=xxxxxx
DB_PORT=3306
DB_USER=sloth
DB_PASSWORD=xxxxxx
DB_NAME=sloth
DB_ECHO=False # 开发True打印SQL，生产关闭

ACCESS_TOKEN_EXPIRE_MINUTES=60